<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernateSessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/minierp</property>
        <property name="hibernate.connection.username">alumno</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!--   Mapeo de clases -->
        <mapping class="org.epis.minierp.model.Usuario"/>
        <mapping class="org.epis.minierp.model.TipoUsuario"/>
        <mapping class="org.epis.minierp.model.EstadoCivil"/>
    </session-factory>
</hibernate-configuration>
