<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="hibernateSessionFactory">
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/episerp</property>
    <property name="hibernate.connection.username">alumno</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <!--   Mapeo de clases -->
    <mapping class="org.epis.minierp.model.Usuario"/>
    <mapping class="org.epis.minierp.model.TipoUsuario"/>
    <mapping class="org.epis.minierp.model.EstadoCivil"/>
    <mapping resource="org/epis/minierp/model/EnP3mPlantillaCab.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/EnP3mCuentaBanco.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/EnP3mCuenta.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/TaGzzMoneda.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/EnP3mLibroDiario.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/TaGzzTipoComprobante.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/EnP3mAsientoCab.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/EnP3tAsientoDet.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/TaGzzBanco.hbm.xml"/>
    <mapping resource="org/epis/minierp/model/EnP3tPlantillaDet.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
