<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="hibernateSessionFactory">
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/episerp</property>
    <property name="hibernate.connection.username">alumno</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <!-- Vistas -->
    <mapping class="org.epis.minierp.model.contabilidad.CajaView"/>
    <mapping class="org.epis.minierp.model.contabilidad.BancosView"/>
    <mapping class="org.epis.minierp.model.contabilidad.LibroDiarioView"/>
    <mapping class="org.epis.minierp.model.Kardex"/>
    <mapping class="org.epis.minierp.model.Ingresos"/>
    <!--   Mapeo de clases -->
    <mapping class="org.epis.minierp.model.TaGzzTipoDocCliente"/>
    <mapping class="org.epis.minierp.model.TaGzzTipoDocUsuario"/>
    <mapping class="org.epis.minierp.model.TaGzzTipoComprobante"/>
    <mapping class="org.epis.minierp.model.EnP1tPreventaDet"/>
    <mapping class="org.epis.minierp.model.EnP3mPlantillaCab"/>
    <mapping class="org.epis.minierp.model.EnP1cPreventaRealizadas"/>
    <mapping class="org.epis.minierp.model.EnP3mAsientoCab"/>
    <mapping class="org.epis.minierp.model.EnP2mAlmacen"/>
    <mapping class="org.epis.minierp.model.EnP1mUsuario"/>
    <mapping class="org.epis.minierp.model.EnP4tGuiaCompraDet"/>
    <mapping class="org.epis.minierp.model.EnP2mClaseProducto"/>
    <mapping class="org.epis.minierp.model.EnP1mDocumentoCliente"/>
    <mapping class="org.epis.minierp.model.EnP2mProducto"/>
    <mapping class="org.epis.minierp.model.TaGzzEstadoFactura"/>
    <mapping class="org.epis.minierp.model.TaGzzEstadoCivil"/>
    <mapping class="org.epis.minierp.model.EnP1mPuntoVenta"/>
    <mapping class="org.epis.minierp.model.EnP1mEmpresa"/>
    <mapping class="org.epis.minierp.model.TaGzzTipoPagoFactura"/>
    <mapping class="org.epis.minierp.model.EnP3mLibroDiario"/>
    <mapping class="org.epis.minierp.model.EnP1tFacturaVentaDet"/>
    <mapping class="org.epis.minierp.model.EnP1mFacturaVentaCab"/>
    <mapping class="org.epis.minierp.model.EnP1mPreventaCab"/>
    <mapping class="org.epis.minierp.model.EnP3mCuentaBanco"/>
    <mapping class="org.epis.minierp.model.EnP2mSubclaseProducto"/>
    <mapping class="org.epis.minierp.model.TaGzzTipoDocProveedor"/>
    <mapping class="org.epis.minierp.model.EnP4mDocumentoProveedor"/>
    <mapping class="org.epis.minierp.model.EnP1mSucursal"/>
    <mapping class="org.epis.minierp.model.EnP4tFacturaCompraDet"/>
    <mapping class="org.epis.minierp.model.TaGzzMoneda"/>
    <mapping class="org.epis.minierp.model.TaGzzUnidadMed"/>
    <mapping class="org.epis.minierp.model.EnP4mFacturaCompraCab"/>
    <mapping class="org.epis.minierp.model.EnP4mGuiaCompraCab"/>
    <mapping class="org.epis.minierp.model.TaGzzBanco"/>
    <mapping class="org.epis.minierp.model.EnP1tPagosCuotasDet"/>
    <mapping class="org.epis.minierp.model.EnP1mDocumentoUsuario"/>
    <mapping class="org.epis.minierp.model.EnP1mCliente"/>
    <mapping class="org.epis.minierp.model.EnP1mMovimientoPuntoVen"/>
    <mapping class="org.epis.minierp.model.EnP4mProveedor"/>
    <mapping class="org.epis.minierp.model.TaGzzMetodoPagoFactura"/>
    <mapping class="org.epis.minierp.model.EnP1mPagosCuotasCab"/>
    <mapping class="org.epis.minierp.model.EnP3tAsientoDet"/>
    <mapping class="org.epis.minierp.model.EnP3tPlantillaDet"/>
    <mapping class="org.epis.minierp.model.EnP3mCuenta"/>
    <mapping class="org.epis.minierp.model.TaGzzTipoUsuario"/>
  </session-factory>
</hibernate-configuration>
