<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>MiniERPServlet</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!--         FILTERS         -->
    <filter>
        <filter-name>HibernateFilter</filter-name>
        <filter-class>org.epis.minierp.security.HibernateSessionRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>org.epis.minierp.security.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/secured/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>configuracionFilter</filter-name>
        <filter-class>org.epis.minierp.security.ConfiguracionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>configuracionFilter</filter-name>
        <url-pattern>/secured/configuracion/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ventasFilter</filter-name>
        <filter-class>org.epis.minierp.security.VentasFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ventasFilter</filter-name>
        <url-pattern>/secured/ventas/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>comprasFilter</filter-name>
        <filter-class>org.epis.minierp.security.ComprasFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>comprasFilter</filter-name>
        <url-pattern>/secured/compras/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>contabilidadFilter</filter-name>
        <filter-class>org.epis.minierp.security.ContabilidadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>contabilidadFilter</filter-name>
        <url-pattern>/secured/contabilidad/*</url-pattern>
    </filter-mapping>
    <!--         SERVLETS         -->
    <!-- Login -->
    <servlet>
        <description/>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.epis.minierp.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutController</display-name>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>org.epis.minierp.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <!-- General -->
    <servlet>
        <description/>
        <display-name>PanelController</display-name>
        <servlet-name>PanelController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.PanelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanelController</servlet-name>
        <url-pattern>/secured/general/panel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PerfilController</display-name>
        <servlet-name>PerfilController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.PerfilController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerfilController</servlet-name>
        <url-pattern>/secured/general/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteController</servlet-name>
        <url-pattern>/secured/general/reporte</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ReporteController</display-name>
        <servlet-name>ReporteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.ReporteController</servlet-class>
    </servlet>
    <!-- Modulo de Compras -->
    <servlet>
        <description/>
        <display-name>PurchasesController</display-name>
        <servlet-name>PurchasesController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.PurchasesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchasesController</servlet-name>
        <url-pattern>/secured/compras/factura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>KardexController</display-name>
        <servlet-name>KardexController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.KardexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KardexController</servlet-name>
        <url-pattern>/secured/compras/kardex</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Compras Inventario -->
    <servlet>
        <description/>
        <display-name>InventoryController</display-name>
        <servlet-name>InventoryController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.InventoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryController</servlet-name>
        <url-pattern>/secured/compras/inventario</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ClasificacionABCController</display-name>
        <servlet-name>ClasificacionABCController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.ClasificacionABCController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClasificacionABCController</servlet-name>
        <url-pattern>/secured/compras/clasificacionABC</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Limite Maximo -->
    <servlet>
        <description/>
        <display-name>LimiteMaximoController</display-name>
        <servlet-name>LimiteMaximoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.LimiteMaximoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LimiteMaximoController</servlet-name>
        <url-pattern>/secured/compras/stock</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Proveedores -->
    <servlet>
        <description/>
        <display-name>SuppliersController</display-name>
        <servlet-name>SuppliersController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.SuppliersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuppliersController</servlet-name>
        <url-pattern>/secured/compras/proveedores</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Nuevo Proveedor -->
    <servlet>
        <description/>
        <display-name>AddSupplierController</display-name>
        <servlet-name>AddSupplierController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.AddSupplierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSupplierController</servlet-name>
        <url-pattern>/secured/compras/form_proveedor</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Producto -->
    <servlet>
        <description/>
        <display-name>ProductController</display-name>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/secured/compras/productos</url-pattern>
    </servlet-mapping>
    <!--Modulo de Configuraciones-->
    <servlet>
        <description/>
        <display-name>UsuariosController</display-name>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.usuario.UsuariosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/secured/configuracion/usuario/usuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddUsuarioController</display-name>
        <servlet-name>AddUsuarioController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.usuario.AddUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUsuarioController</servlet-name>
        <url-pattern>/secured/configuracion/usuario/usuarios/add</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Compañia Datos-->
    <servlet>
        <description/>
        <display-name>CompanyDataController</display-name>
        <servlet-name>CompanyDataController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.CompanyDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyDataController</servlet-name>
        <url-pattern>/secured/configuracion/empresa</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Sucursal-->
    <servlet>
        <description/>
        <display-name>SucursalController</display-name>
        <servlet-name>SucursalController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.SucursalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SucursalController</servlet-name>
        <url-pattern>/secured/configuracion/sucursal</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddSucursalController</display-name>
        <servlet-name>AddSucursalController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.AddSucursalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSucursalController</servlet-name>
        <url-pattern>/secured/configuracion/addsucursal</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Punto de venta-->
    <servlet>
        <description/>
        <display-name>PointSaleController</display-name>
        <servlet-name>PointSaleController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.PointSaleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointSaleController</servlet-name>
        <url-pattern>/secured/configuracion/puntodeventa</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddPointSaleController</display-name>
        <servlet-name>AddPointSaleController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.AddPointSaleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPointSaleController</servlet-name>
        <url-pattern>/secured/configuracion/addpuntoventa</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Contabilidad -->
    <servlet>
        <description/>
        <display-name>LibroDiarioController</display-name>
        <servlet-name>LibroDiarioController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.LibroDiarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibroDiarioController</servlet-name>
        <url-pattern>/secured/contabilidad/librodiario</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PlanContableController</display-name>
        <servlet-name>PlanContableController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.PlanContableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanContableController</servlet-name>
        <url-pattern>/secured/contabilidad/plan</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SubcuentaController</display-name>
        <servlet-name>SubcuentaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.SubcuentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubcuentaController</servlet-name>
        <url-pattern>/secured/contabilidad/plan/subcuenta</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BalanceGeneralController</display-name>
        <servlet-name>BalanceGeneralController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.BalanceGeneralController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalanceGeneralController</servlet-name>
        <url-pattern>/secured/contabilidad/balance</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CajaController</display-name>
        <servlet-name>CajaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.CajaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CajaController</servlet-name>
        <url-pattern>/secured/contabilidad/caja</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BancosController</display-name>
        <servlet-name>BancosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.BancosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BancosController</servlet-name>
        <url-pattern>/secured/contabilidad/bancos</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CuentaBancoController</display-name>
        <servlet-name>CuentaBancoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.CuentaBancoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CuentaBancoController</servlet-name>
        <url-pattern>/secured/contabilidad/cuentabancaria</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Perifericos -->
    <servlet>
        <description/>
        <display-name>ImpresoraBarrasController</display-name>
        <servlet-name>ImpresoraBarrasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.ImpresoraBarrasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpresoraBarrasController</servlet-name>
        <url-pattern>/secured/perifericos/impresoraBarras</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LectoraBarrasController</display-name>
        <servlet-name>LectoraBarrasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.LectoraBarrasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LectoraBarrasController</servlet-name>
        <url-pattern>/secured/perifericos/lectoraBarras</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>InventarioBarrasController</display-name>
        <servlet-name>InventarioBarrasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.InventarioBarrasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventarioBarrasController</servlet-name>
        <url-pattern>/secured/perifericos/inventarioBarras</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddStockController</display-name>
        <servlet-name>AddStockController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.AddStockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStockController</servlet-name>
        <url-pattern>/secured/perifericos/addStock</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Ventas -->
    <servlet>
        <description/>
        <display-name>VentasFacturaController</display-name>
        <servlet-name>VentasFacturaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.VentasFacturaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VentasFacturaController</servlet-name>
        <url-pattern>/secured/ventas/factura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>VentasPreVentaController</display-name>
        <servlet-name>VentasPreVentaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.VentasPreVentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VentasPreVentaController</servlet-name>
        <url-pattern>/secured/ventas/preventa</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ClienteController</display-name>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.ClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/secured/ventas/clientes</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>addClienteController</display-name>
        <servlet-name>addClienteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addClienteController</servlet-name>
        <url-pattern>/secured/ventas/clientes/addCliente</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>addFacturaController</display-name>
        <servlet-name>addFacturaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddFacturaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addFacturaController</servlet-name>
        <url-pattern>/secured/ventas/factura/addFactura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PagosController</display-name>
        <servlet-name>PagosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.PagosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PagosController</servlet-name>
        <url-pattern>/secured/ventas/pagos</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>addPagoController</display-name>
        <servlet-name>addPagoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddPagoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPagoController</servlet-name>
        <url-pattern>/secured/ventas/pagos/addPago</url-pattern>
    </servlet-mapping>
    <!--         ERROR         -->
    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>
