<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>MiniERPServlet</display-name>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <!--         FILTERS         -->
    <filter>
        <filter-name>HibernateFilter</filter-name>
        <filter-class>org.epis.minierp.security.HibernateSessionRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>org.epis.minierp.security.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/secured/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>configuracionFilter</filter-name>
        <filter-class>org.epis.minierp.security.ConfiguracionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>configuracionFilter</filter-name>
        <url-pattern>/secured/configuracion/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ventasFilter</filter-name>
        <filter-class>org.epis.minierp.security.VentasFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ventasFilter</filter-name>
        <url-pattern>/secured/ventas/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>comprasFilter</filter-name>
        <filter-class>org.epis.minierp.security.ComprasFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>comprasFilter</filter-name>
        <url-pattern>/secured/compras/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>contabilidadFilter</filter-name>
        <filter-class>org.epis.minierp.security.ContabilidadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>contabilidadFilter</filter-name>
        <url-pattern>/secured/contabilidad/*</url-pattern>
    </filter-mapping>
    <!--         SERVLETS         -->
    <!-- Login -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.epis.minierp.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutController</display-name>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>org.epis.minierp.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- General -->
    <servlet>
        <description/>
        <display-name>PanelController</display-name>
        <servlet-name>PanelController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.PanelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanelController</servlet-name>
        <url-pattern>/secured/general/panel</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ProductsByAlmacenController</display-name>
        <servlet-name>ProductsByAlmacenController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.ProductsByAlmacenController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsByAlmacenController</servlet-name>
        <url-pattern>/secured/general/panel/productosByAlmacen</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>GraficaCompradorControlador</display-name>
        <servlet-name>GraficaCompradorControlador</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.GraficaCompradorControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraficaCompradorControlador</servlet-name>
        <url-pattern>/secured/general/panel/datosGraficaComprador</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PerfilController</display-name>
        <servlet-name>PerfilController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.PerfilController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerfilController</servlet-name>
        <url-pattern>/secured/general/perfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ReporteController</display-name>
        <servlet-name>ReporteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.ReporteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteController</servlet-name>
        <url-pattern>/secured/general/reporte</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Compras -->
    <servlet>
        <description/>
        <display-name>AddPurchaseController</display-name>
        <servlet-name>AddPurchaseController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.AddPurchaseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPurchaseController</servlet-name>
        <url-pattern>/secured/compras/factura/addFactura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchPurchaseBillCodeController</display-name>
        <servlet-name>SearchPurchaseBillCodeController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.SearchPurchaseBillCodeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPurchaseBillCodeController</servlet-name>
        <url-pattern>/secured/compras/factura/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BusquedaProveedorController</display-name>
        <servlet-name>BusquedaProveedorController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.BusquedaProveedorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusquedaProveedorController</servlet-name>
        <url-pattern>/secured/compras/factura/searchSupplier</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PurchaseController</display-name>
        <servlet-name>PurchaseController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.PurchaseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchaseController</servlet-name>
        <url-pattern>/secured/compras/factura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>KardexController</display-name>
        <servlet-name>KardexController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.KardexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KardexController</servlet-name>
        <url-pattern>/secured/compras/kardex</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Compras Inventario -->
    <servlet>
        <description/>
        <display-name>AddInventoryController</display-name>
        <servlet-name>AddInventoryController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.AddInventoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddInventoryController</servlet-name>
        <url-pattern>/secured/compras/addInventario</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>InventoryController</display-name>
        <servlet-name>InventoryController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.InventoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryController</servlet-name>
        <url-pattern>/secured/compras/inventario</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchInventoryController</display-name>
        <servlet-name>SearchInventoryController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.SearchInventoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchInventoryController</servlet-name>
        <url-pattern>/secured/compras/searchInventory</url-pattern>
    </servlet-mapping>
    <!-- FIN  de Compras Inventario -->
    <servlet>
        <description/>
        <display-name>ClasificacionABCController</display-name>
        <servlet-name>ClasificacionABCController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.ClasificacionABCController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClasificacionABCController</servlet-name>
        <url-pattern>/secured/compras/clasificacionABC</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Limite Maximo -->
    <servlet>
        <description/>
        <display-name>LimiteMaximoController</display-name>
        <servlet-name>LimiteMaximoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.LimiteMaximoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LimiteMaximoController</servlet-name>
        <url-pattern>/secured/compras/stock</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Proveedores -->
    <servlet>
        <description/>
        <display-name>SuppliersController</display-name>
        <servlet-name>SuppliersController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.SuppliersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuppliersController</servlet-name>
        <url-pattern>/secured/compras/proveedores</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Nuevo Proveedor -->
    <servlet>
        <description/>
        <display-name>AddSupplierController</display-name>
        <servlet-name>AddSupplierController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.AddSupplierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSupplierController</servlet-name>
        <url-pattern>/secured/compras/form_proveedor</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Producto -->
    <servlet>
        <description/>
        <display-name>ProductController</display-name>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/secured/compras/productos</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ClassSubClassController</display-name>
        <servlet-name>ClassSubClassController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.ClassSubClassController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassSubClassController</servlet-name>
        <url-pattern>/secured/compras/claseSubclase</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchPurchaseBillController</display-name>
        <servlet-name>SearchPurchaseBillController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.SearchPurchaseBillController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPurchaseBillController</servlet-name>
        <url-pattern>/secured/compras/searchBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddProductController</display-name>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/secured/compras/addProduct</url-pattern>
    </servlet-mapping>
    <!--Modulo de Configuraciones-->
    <servlet>
        <description/>
        <display-name>UsuariosController</display-name>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.usuario.UsuariosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/secured/configuracion/usuario/usuarios</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Compañia Datos-->
    <servlet>
        <description/>
        <display-name>CompanyDataController</display-name>
        <servlet-name>CompanyDataController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.CompanyDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyDataController</servlet-name>
        <url-pattern>/secured/configuracion/empresa</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Datos de Empresa-->
    <servlet>
        <description/>
        <display-name>DatosEmpresaController</display-name>
        <servlet-name>DatosEmpresaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.DatosEmpresaController</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>512000</max-file-size>
            <max-request-size>1048576</max-request-size>
            <file-size-threshold>102400</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatosEmpresaController</servlet-name>
        <url-pattern>/secured/configuracion/datosEmpresa</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Canal Usuario-->
    <servlet>
        <description/>
        <display-name>CanalUsuarioController</display-name>
        <servlet-name>CanalUsuarioController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.CanalUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CanalUsuarioController</servlet-name>
        <url-pattern>/secured/configuracion/canalUsuario</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Datos de Transportista-->
    <servlet>
        <description/>
        <display-name>TransportistaController</display-name>
        <servlet-name>TransportistaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.TransportistaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransportistaController</servlet-name>
        <url-pattern>/secured/configuracion/datosTransportista</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Unidades de Tranporte-->
    <servlet>
        <description/>
        <display-name>UnidadTransporteController</display-name>
        <servlet-name>UnidadTransporteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.UnidadTransporteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnidadTransporteController</servlet-name>
        <url-pattern>/secured/configuracion/unidadTransporte</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Tablas Generales-->
    <servlet>
        <description/>
        <display-name>TablasGeneralesController</display-name>
        <servlet-name>TablasGeneralesController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.TablasGeneralesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TablasGeneralesController</servlet-name>
        <url-pattern>/secured/configuracion/tablasGenerales</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Sucursal-->
    <servlet>
        <description/>
        <display-name>SucursalController</display-name>
        <servlet-name>SucursalController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.SucursalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SucursalController</servlet-name>
        <url-pattern>/secured/configuracion/sucursal</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Documento cliente-->
    <servlet>
        <description/>
        <display-name>DocumentoClienteController</display-name>
        <servlet-name>DocumentoClienteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.DocumentoClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentoClienteController</servlet-name>
        <url-pattern>/secured/configuracion/documentoCliente</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Documento usuario-->
    <servlet>
        <description/>
        <display-name>DocumentoUsuarioController</display-name>
        <servlet-name>DocumentoUsuarioController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.DocumentoUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentoUsuarioController</servlet-name>
        <url-pattern>/secured/configuracion/documentoUsuario</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Punto de venta-->
    <servlet>
        <description/>
        <display-name>PointSaleController</display-name>
        <servlet-name>PointSaleController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.PointSaleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PointSaleController</servlet-name>
        <url-pattern>/secured/configuracion/puntodeventa</url-pattern>
    </servlet-mapping>
    <!--Sub Modulo Impresora-->
    <servlet>
        <description/>
        <display-name>ImpresoraFacturaController</display-name>
        <servlet-name>ImpresoraFacturaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.impresora.ImpresoraFacturaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpresoraFacturaController</servlet-name>
        <url-pattern>/secured/configuracion/impresora/factura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ImpresoraBoletaController</display-name>
        <servlet-name>ImpresoraBoletaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.impresora.ImpresoraBoletaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpresoraBoletaController</servlet-name>
        <url-pattern>/secured/configuracion/impresora/boleta</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ImpresoraRemisionController</display-name>
        <servlet-name>ImpresoraRemisionController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.impresora.ImpresoraRemisionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpresoraRemisionController</servlet-name>
        <url-pattern>/secured/configuracion/impresora/remision</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Contabilidad -->
    <servlet>
        <description/>
        <display-name>RegistroAsientoController</display-name>
        <servlet-name>RegistroAsientoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.RegistroAsientoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroAsientoController</servlet-name>
        <url-pattern>/secured/contabilidad/asientos</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LibroDiarioController</display-name>
        <servlet-name>LibroDiarioController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.LibroDiarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibroDiarioController</servlet-name>
        <url-pattern>/secured/contabilidad/librodiario</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PlanContableController</display-name>
        <servlet-name>PlanContableController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.PlanContableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanContableController</servlet-name>
        <url-pattern>/secured/contabilidad/plan</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SubcuentaController</display-name>
        <servlet-name>SubcuentaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.SubcuentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubcuentaController</servlet-name>
        <url-pattern>/secured/contabilidad/plan/subcuenta</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BalanceGeneralController</display-name>
        <servlet-name>BalanceGeneralController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.BalanceGeneralController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalanceGeneralController</servlet-name>
        <url-pattern>/secured/contabilidad/balance</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CajaController</display-name>
        <servlet-name>CajaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.CajaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CajaController</servlet-name>
        <url-pattern>/secured/contabilidad/caja</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BancosController</display-name>
        <servlet-name>BancosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.BancosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BancosController</servlet-name>
        <url-pattern>/secured/contabilidad/bancos</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LibroMayorController</display-name>
        <servlet-name>LibroMayorController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.LibroMayorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibroMayorController</servlet-name>
        <url-pattern>/secured/contabilidad/libroMayor</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CuentaBancoController</display-name>
        <servlet-name>CuentaBancoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.CuentaBancoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CuentaBancoController</servlet-name>
        <url-pattern>/secured/contabilidad/cuentabancaria</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PlantillaController</display-name>
        <servlet-name>PlantillaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.PlantillaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlantillaController</servlet-name>
        <url-pattern>/secured/contabilidad/plantilla</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BusquedaCuentaController</display-name>
        <servlet-name>BusquedaCuentaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.BusquedaCuentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusquedaCuentaController</servlet-name>
        <url-pattern>/secured/contabilidad/busquedaCuenta</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>HojaTrabajoController</display-name>
        <servlet-name>HojaTrabajoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.HojaTrabajoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HojaTrabajoController</servlet-name>
        <url-pattern>/secured/contabilidad/hojaTrabajo</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Perifericos -->
    <servlet>
        <description/>
        <display-name>ImpresoraBarrasController</display-name>
        <servlet-name>ImpresoraBarrasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.ImpresoraBarrasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpresoraBarrasController</servlet-name>
        <url-pattern>/secured/perifericos/impresoraBarras</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LectoraBarrasController</display-name>
        <servlet-name>LectoraBarrasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.LectoraBarrasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LectoraBarrasController</servlet-name>
        <url-pattern>/secured/perifericos/lectoraBarras</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>InventarioBarrasController</display-name>
        <servlet-name>InventarioBarrasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.InventarioBarrasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventarioBarrasController</servlet-name>
        <url-pattern>/secured/perifericos/inventarioBarras</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddStockController</display-name>
        <servlet-name>AddStockController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.AddStockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStockController</servlet-name>
        <url-pattern>/secured/perifericos/addStock</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Ventas -->
    <servlet>
        <description/>
        <display-name>VentasFacturaController</display-name>
        <servlet-name>VentasFacturaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.VentasFacturaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VentasFacturaController</servlet-name>
        <url-pattern>/secured/ventas/factura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PreVentaController</display-name>
        <servlet-name>PreVentaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.PreVentaController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GuiaRemisionTransportistaController</servlet-name>
        <url-pattern>/secured/ventas/guiaRemisionTransporista</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>GuiaRemisionTransportistaController</display-name>
        <servlet-name>GuiaRemisionTransportistaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.GuiaRemisionTransportistaController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BuscarFacturasEnGuiaRemTransporte</servlet-name>
        <url-pattern>/secured/ventas/buscarFacturasEnGuiaRemTransporte</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BuscarFacturasEnGuiaRemTransporte</display-name>
        <servlet-name>BuscarFacturasEnGuiaRemTransporte</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.BuscarFacturasEnGuiaRemTransporte</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>PreVentaController</servlet-name>
        <url-pattern>/secured/ventas/preventa</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PreVentaLotesController</display-name>
        <servlet-name>PreVentaLotesController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.PreVentaLotesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreVentaLotesController</servlet-name>
        <url-pattern>/secured/ventas/preventaLotes</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddPreVentaController</display-name>
        <servlet-name>AddPreVentaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddPreVentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPreVentaController</servlet-name>
        <url-pattern>/secured/ventas/preventa/addPreventa</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchPreVentaCodeController</display-name>
        <servlet-name>SearchPreVentaCodeController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.SearchPreVentaCodeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPreVentaCodeController</servlet-name>
        <url-pattern>/secured/ventas/preventa/addPreventa/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ClienteController</display-name>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.ClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/secured/ventas/clientes</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>addFacturaController</display-name>
        <servlet-name>addFacturaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddFacturaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addFacturaController</servlet-name>
        <url-pattern>/secured/ventas/factura/addFactura</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BusquedaClienteController</display-name>
        <servlet-name>BusquedaClienteController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.BusquedaClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusquedaClienteController</servlet-name>
        <url-pattern>/secured/ventas/searchClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchProductController</display-name>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.SearchProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/secured/ventas/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchSaleBillController</display-name>
        <servlet-name>SearchSaleBillController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.SearchSaleBillController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSaleBillController</servlet-name>
        <url-pattern>/secured/ventas/searchBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SearchPreVentaController</display-name>
        <servlet-name>SearchPreVentaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.SearchPreVentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPreVentaController</servlet-name>
        <url-pattern>/secured/ventas/searchPreVen</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TotalRefundController</display-name>
        <servlet-name>TotalRefundController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.TotalRefundController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TotalRefundController</servlet-name>
        <url-pattern>/secured/ventas/totalRefund</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PartialRefundController</display-name>
        <servlet-name>PartialRefundController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.PartialRefundController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PartialRefundController</servlet-name>
        <url-pattern>/secured/ventas/partialRefund</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ReferralGuideController</display-name>
        <servlet-name>ReferralGuideController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.ReferralGuideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReferralGuideController</servlet-name>
        <url-pattern>/secured/ventas/searchReferralGuide</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CarrierGuideController</display-name>
        <servlet-name>CarrierGuideController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.CarrierGuideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarrierGuideController</servlet-name>
        <url-pattern>/secured/ventas/searchCarrierGuide</url-pattern>
    </servlet-mapping>
        <servlet>
        <description/>
        <display-name>SearchGuiaRemTraController</display-name>
        <servlet-name>SearchGuiaRemTraController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.SearchGuiaRemTraController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchGuiaRemTraController</servlet-name>
        <url-pattern>/secured/ventas/GuiaTransportista</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddCarrierGuideController</display-name>
        <servlet-name>AddCarrierGuideController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddCarrierGuideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCarrierGuideController</servlet-name>
        <url-pattern>/secured/ventas/addCarrierGuide</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>GuiaRemTransportistaController</display-name>
        <servlet-name>GuiaRemTransportistaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.GuiaRemTransportistaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuiaRemTransportistaController</servlet-name>
        <url-pattern>/secured/ventas/carrierGuideLote</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddReferralGuideController</display-name>
        <servlet-name>AddReferralGuideController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddReferralGuideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReferralGuideController</servlet-name>
        <url-pattern>/secured/ventas/addReferralGuide</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>RemoveCarrierGuideController</display-name>
        <servlet-name>RemoveCarrierGuideController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.RemoveCarrierGuideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveCarrierGuideController</servlet-name>
        <url-pattern>/secured/ventas/removeCarrierGuide</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>RemoveReferralGuideController</display-name>
        <servlet-name>RemoveReferralGuideController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.RemoveReferralGuideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveReferralGuideController</servlet-name>
        <url-pattern>/secured/ventas/removeReferralGuide</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PagosController</display-name>
        <servlet-name>PagosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.PagosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PagosController</servlet-name>
        <url-pattern>/secured/ventas/pagos</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ArqueoCajaController</display-name>
        <servlet-name>ArqueoCajaController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.ArqueoCajaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArqueoCajaController</servlet-name>
        <url-pattern>/secured/ventas/arqueoCaja</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>addPagoController</display-name>
        <servlet-name>addPagoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.AddPagoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPagoController</servlet-name>
        <url-pattern>/secured/ventas/pagos/addPago</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>facturaLotesController</display-name>
        <servlet-name>facturaLotesController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.ImpresionLotesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>facturaLotesController</servlet-name>
        <url-pattern>/secured/ventas/factura/facturaLotes</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>catalogoRutasController</display-name>
        <servlet-name>catalogoRutasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.configuracion.CatalogoRutasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catalogoRutasController</servlet-name>
        <url-pattern>/secured/configuracion/catalogoRutas</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>almacenController</display-name>
        <servlet-name>almacenController</servlet-name>
        <servlet-class>org.epis.minierp.controller.logistica.AlmacenController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>almacenController</servlet-name>
        <url-pattern>/secured/logistica/almacen</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>BuscarProductosAlmacenController</servlet-name>
        <url-pattern>/secured/ventas/buscarProductosAlmacen</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>BuscarProductosAlmacenController</display-name>
        <servlet-name>BuscarProductosAlmacenController</servlet-name>
        <servlet-class>org.epis.minierp.controller.logistica.BuscarProductosAlmacenController</servlet-class>
    </servlet>
    
    <!--         ERRORS         -->
    <error-page>
        <location>/error.jsp</location>
    </error-page>
    </web-app>
