<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>MiniERPServlet</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!--         FILTERS         -->
    <filter>
        <filter-name>HibernateFilter</filter-name>
        <filter-class>org.epis.minierp.security.HibernateSessionRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>org.epis.minierp.security.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/secured/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>generalFilter</filter-name>
        <filter-class>org.epis.minierp.security.GeneralFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>generalFilter</filter-name>
        <url-pattern>/secured/general/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ventasFilter</filter-name>
        <filter-class>org.epis.minierp.security.VentasFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ventasFilter</filter-name>
        <url-pattern>/secured/ventas/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>comprasFilter</filter-name>
        <filter-class>org.epis.minierp.security.ComprasFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>comprasFilter</filter-name>
        <url-pattern>/secured/compras/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>contabilidadFilter</filter-name>
        <filter-class>org.epis.minierp.security.ContabilidadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>contabilidadFilter</filter-name>
        <url-pattern>/secured/contabilidad/*</url-pattern>
    </filter-mapping>
    <!--         SERVLETS         -->
    <!-- Login -->
    <servlet>
        <description/>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.epis.minierp.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutController</display-name>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>org.epis.minierp.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- General - Administrador -->
    <servlet>
        <description/>
        <display-name>GeneralController</display-name>
        <servlet-name>GeneralController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.GeneralController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralController</servlet-name>
        <url-pattern>/secured/general</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>UsuariosController</display-name>
        <servlet-name>UsuariosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.UsuariosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosController</servlet-name>
        <url-pattern>/secured/general/usuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddUsuarioController</display-name>
        <servlet-name>AddUsuarioController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.AddUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUsuarioController</servlet-name>
        <url-pattern>/secured/general/usuarios/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>PerfilController</display-name>
        <servlet-name>PerfilController</servlet-name>
        <servlet-class>org.epis.minierp.controller.general.PerfilController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerfilController</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Compras y Logística -->
    <servlet>
        <description/>
        <display-name>ComprasController</display-name>
        <servlet-name>ComprasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.ComprasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprasController</servlet-name>
        <url-pattern>/secured/compras</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Compras -->
    <servlet>
        <description/>
        <display-name>PurchasesController</display-name>
        <servlet-name>PurchasesController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.PurchasesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchasesController</servlet-name>
        <url-pattern>/secured/compras/registerPurchase</url-pattern>
    </servlet-mapping>
    
     <!-- Modulo de Compras Inventario -->
    <servlet>
        <description/>
        <display-name>InventoryController</display-name>
        <servlet-name>InventoryController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.InventoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryController</servlet-name>
        <url-pattern>/secured/compras/inventario</url-pattern>
    </servlet-mapping>
    
    <!-- Modulo de Compras Clasificacion ABC -->
    <servlet>
        <description/>
        <display-name>ClasificacionABCController</display-name>
        <servlet-name>ClasificacionABCController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.ClasificacionABCController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClasificacionABCController</servlet-name>
        <url-pattern>/secured/compras/clasificacionABC</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Limite Maximo -->
     <servlet>
        <description/>
        <display-name>LimiteMaximoController</display-name>
        <servlet-name>LimiteMaximoController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.LimiteMaximoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LimiteMaximoController</servlet-name>
        <url-pattern>/secured/compras/limiteMaximo</url-pattern>
    </servlet-mapping>
    <!--Modulo de Compras Proveedores -->
     <servlet>
        <description/>
        <display-name>SuppliersController</display-name>
        <servlet-name>SuppliersController</servlet-name>
        <servlet-class>org.epis.minierp.controller.compras.SuppliersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuppliersController</servlet-name>
        <url-pattern>/secured/compras/proveedores</url-pattern>
    </servlet-mapping>

    <!-- Modulo de Contabilidad -->
    <servlet>
        <description/>
        <display-name>ContabilidadController</display-name>
        <servlet-name>ContabilidadController</servlet-name>
        <servlet-class>org.epis.minierp.controller.contabilidad.ContabilidadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContabilidadController</servlet-name>
        <url-pattern>/secured/contabilidad</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Perifericos -->
    <servlet>
        <description/>
        <display-name>PerifericosController</display-name>
        <servlet-name>PerifericosController</servlet-name>
        <servlet-class>org.epis.minierp.controller.perifericos.PerifericosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerifericosController</servlet-name>
        <url-pattern>/secured/perifericos</url-pattern>
    </servlet-mapping>
    <!-- Modulo de Ventas -->
    <servlet>
        <description/>
        <display-name>VentasController</display-name>
        <servlet-name>VentasController</servlet-name>
        <servlet-class>org.epis.minierp.controller.ventas.VentasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VentasController</servlet-name>
        <url-pattern>/secured/ventas</url-pattern>
    </servlet-mapping>
    <!--         ERRORS         -->
    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>
